.pure-button-primary {
background-color: white;
 background-color: #1f8dd6;
 border-radius: 5px;
 font-size: 130%
}

 .highlight
 { background-color: rgba(231, 12, 12, 0.79);
   color: #fff
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;}
